table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 2px;
}

.padded-img {
    padding-left: 32px;
    padding-right: 32px;
    float: left;
}
